In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [12]:
data = pd.read_csv('pima-indians-diabetes.csv')
data.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skinfold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [13]:
data.columns

Index(['Number of times pregnant', 'Plasma glucose concentration',
       'Diastolic blood pressure', 'Triceps skinfold thickness',
       '2-Hour serum insulin', 'Body mass index', 'Diabetes pedigree function',
       'Age', 'Class'],
      dtype='object')

In [14]:
data.Class.value_counts()

Class
0    500
1    268
Name: count, dtype: int64

In [23]:
x = np.asanyarray(data.drop('Class',axis=1))
y = np.asanyarray(data['Class'])
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=123)
Ks = 20
mean_accuracy = np.zeros((Ks-1))
for n in range(1,Ks):
    neigh = KNeighborsClassifier(n_neighbors= n).fit(X=x_train,y=y_train)
    y_hat = neigh.predict(X=x_test)
    mean_accuracy[n-1] = metrics.accuracy_score(y_true=y_test,y_pred=y_hat)

print(mean_accuracy.max())
print(mean_accuracy.argmax()+1)
neigh = KNeighborsClassifier(n_neighbors= 11).fit(X=x_train,y=y_train)
y_hat = neigh.predict(X=x_test)
print(y_test[:50])
print(y_hat[:50])

0.7792207792207793
11
[1 0 0 0 0 1 1 1 1 0 1 0 0 0 1 0 1 0 0 0 0 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 1
 0 0 1 0 1 1 0 0 0 0 0 0 0]
[1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1
 0 0 0 0 0 0 0 0 1 1 0 0 0]